
.slideDiv{
    height: 753px;
    position: relative;
}
.secondSection{
    height: 753px;
    background-color: black;
}
.secondSectionMainDiv{
    text-align: center;
    align-items: center;
    padding-top: 220px;
    color: white;
}
.aboutUsTextDiv{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
.slideText{
    color: white;
    position: absolute;
    bottom: 0;
    width: 60%;
}
.firstRow{
    font-size: 60px;
}
.thirdSection{
    height: 753px;
}
.contactTextDiv{
    margin-top: -60px;
    color: black;
}
