.movieGenre{
    font-weight: lighter;
    font-size: large;
}
.firstTd{
    margin-left: -100px;
}
.buttonDiv{
    text-align: center;
}
.scheduleMovieButton{
    background-color: #61dafb;
}
.imgDiv{
    position: relative;
    overflow: hidden;
    margin-bottom: -30px;
}
.imgImg{
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}
.pagination {
    margin-left: auto;
    margin-right: auto;
}
.page-link{
    color: black;
}
.detailsLink{
    text-decoration: none;
}