.movieGenre{
    font-weight: lighter;
    font-size: large;
}
.firstTd{
    margin-left: -100px;
}
.buttonDiv{
    text-align: center;
}
.scheduleMovieButton{
    background-color: #61dafb;
}
.imgDiv{
    position: relative;
    overflow: hidden;
    margin-bottom: -30px;
    height: 900px;
}
.imgImg{
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}
.pagination {
    margin-left: auto;
    margin-right: auto;
}
.page-link{
    color: black;
}
.detailsLink{
    text-decoration: none;
}


.pagination li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.page-link {
    position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.rateMovieText{
    text-align: right;
    color: black;
}
.rateMovieLink{
    color: black;
    text-decoration: none;
}
